  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap');

  * {
  	padding: 0;
  	margin: 0;
  	box-sizing: border-box;
  	font-family: 'Urbanist', sans-serif;
  	/* border: 1px solid red; */
  }

  body {
  	font-family: 'Urbanist', sans-serif;
  }



  @media only screen and (min-width:1200px) {
  	.nav-item>.nav-link {
  		padding: 5px 20px !important;
  		display: block !important;
  	}
  }
@media(max-width:998px){
	.header .header-inner .mobile_nav{
		display: block;
	}
	.header .header-inner .main_nav{
		display: none;
	}

}
.mobile_nav{
	display: none;
}
  @media only screen and (max-width:992px) {
  	.header-inner {
  		/* background-color: white !important; */
  	}

  	.navbar_mobile {
  		background-color: white !important;
  	}

  	.nav-item>.nav-link {
  		color: black !important
  	}

  	.logo {
  		color: #000 !important;
  		font-weight: 600 !important;
  	}

  	.content-banner .first-title {
  		font-size: 30px !important;
  	}
  }

.header .profile_img{
	width: 30px;
	aspect-ratio: 1/1;
}
  .header {
  	position: relative;
  	width: 100%;
  	z-index: 99;
  }

  .drop-list>p {
  	margin: 0;
	cursor: pointer;
  	padding: 0.6rem !important;
  }
  .nav-item .clicked-link {
  	padding: 0.5rem !important;
  }

  .header .navbar-brand img {
  	/* width: 100%; */
  	max-width: 200px;
  	margin: -3px 0px 0px 0px;
  }

  .header .navbar-brand .logo2 {
  	display: none;
  }

  @media (max-width:700px) {
  	.header .navbar-brand img {
  		width: 100%;
  		max-width: 100px;
  		margin: -3px 0px 0px 0px;
  	}
  }

  .header-inner {
  	width: 100%;
  	z-index: 999;
  }

  .logo {
  	color: #ffffff;
  }

  .padding2 {
  	padding-left: 1.5rem;
  }

  .nav-item .nav-link {
  	display: inline-block;
  	line-height: 36px;
  	font-size: 16px;
  	font-weight: 600;
  	color: #1A0E09;
  	transition: 0.15s ease;
  	padding: 0.8rem 1.5rem !important;
  }

  .nav-item .current {
  	padding: 0.8rem 2rem !important;
  	display: inline-block;
  	line-height: 36px;
  	font-size: 16px;
  	font-weight: 700;
  	color: #1A0E09;
  	text-decoration: none;

  	position: relative;
  	transition: 0.15s ease;
  }

  .nav-item .current::after {
  	content: '';
  	transition: 0.5s;
  	position: absolute;
  	right: 11%;
  	top: 32px;
  	transform: translate(-50%, -50%);
  	border-radius: 50%;
  	background-color: #BB5327;
  	width: 10px;
  	margin: auto;
  	height: 10px;
  }


  .nav-item {
  	position: relative;
  }

  .nav-item .nav-after-effect::after {
  	content: '';
  	margin: auto;
  	transition: 0.5s;
  	position: absolute;
  	right: 3%;
  	top: 31px;
  	transform: translate(-50%, -50%);
  	height: 10px;
  	border-radius: 50%;
  	background-color: #BB5327;
  	width: 0;
  }

  .nav-item .nav-link:hover {
  	color: #282713;
  	font-weight: 700;
  }


  .nav-item .nav-after-effect:hover::after {
  	width: 10px;
  	/* height: 100%; */
  	margin: auto;
  	z-index: -1;
  }

  .nav-item .btns {
  	display: flex;
  	width: 100%;
  	height: 100%;
  	align-items: center;
  }

  .btns .logout_box_list {
  	padding: 0px !important;
  }


  .nav-item .btns span {
  	font-size: 2rem;
  	font-weight: 300;
  }

  .nav-item .btns a {
  	margin: 0;
  	display: inline-block;
  	font-size: 18px;
  	font-weight: 600;
  	color: #BB5327;
  	transition: 0.15s ease;
  	padding: 0.8rem 1rem !important;
  	cursor: pointer;
  }

  .nav-item .btns button {
  	margin: 0;
  	display: inline-block;
  	background: transparent;
  	border: 0;
  	font-size: 18px;
  	font-weight: 600;
  	color: #BB5327;
  	transition: 0.15s ease;
  	padding: 0.8rem 1rem !important;
  	cursor: pointer;
  }

  .btns .logout_box_list a {
  	padding: 10px 10px !important;
  }

  .btns .logout_box_list button {
  	padding: 10px 10px !important;
  }

  .nav-item .btns a:last-child {
  	color: #1A0E09;
  	/* border-left: 1px solid #000; */
  }

  @media(max-width:998px) {
  	.header .navbar .toggel_btns {
  		display: block;
  	}
  }

  .navbar-scroll {
  	background-color: #ffffff;
  	/* padding: .2rem 0; */
  	position: fixed;
  	z-index: 999;
  	top: 0;
  	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  	transition-duration: 0.6s;
  }

  .navbar-scroll .navbar-toggler {
  	border: 1px solid #000;
  	color: #000;
  }

  .navbar-scroll .nav-item .nav-link {
  	color: black;
  }

  .navbar-scroll .nav-item .current {
  	color: black;
  }

  .navbar-scroll .nav-item .nav-link:hover {
  	color: #000000;
  }

  .navbar-scroll .logo {
  	color: #000;
  	font-weight: 500;
  }

  .first-title {
  	text-transform: capitalize;
  }

  .main-content section {
  	background-color: white;
  	padding: 4rem 0rem 4rem;
  }

  .main-content section:nth-of-type(even) {
  	background-color: #f9c108;
  	color: white;
  }

  .header .header_menus_bar i {
  	color: #EBAB56;
  	font-size: 2rem;
  	font-weight: 600;
  }



  /* -----------------------Drop-down-------------------- */
  .drop-list {
  	position: relative;
  }


  .drop-list>a img {
  	position: relative;
  	width: 33px;
  	aspect-ratio: 1/1;
  }

  .drop-list .drop-item {
  	position: absolute;
  	top: 40px;
  	left: 0;
  	background-color: #ffffff;
  	width: 13rem;
  	visibility: hidden;
  }
  .mobile_nav .drop-list .drop-item {
  	background-color: #ffffff;
  	width: 13rem;
  	display: none;
  }

  .drop-list .hover-link {
  	position: relative;
  }

  .drop-list:hover .drop-item {
  	visibility: visible;
  }

  .mobile_nav .drop-list:hover .drop-item {
	  display: block;
  }

  .list-group-item {
  	position: relative;
  }

  .list-group-item a {
  	text-decoration: none;
  	display: block;
  	color: #000;
  }

  .list-group-item a:hover {
  	font-weight: 600;
  }

  .list-group-item a .color-ball {
  	width: 10px;
  	height: 10px;
  	display: inline-block;
  	visibility: hidden;
  	border-radius: 50%;
  	margin-left: 5px;
  	background-color: #BB5327;
  	transition: all 0.4s;
  	transform: translateX(-8px);
  }

  .list-group-item a:hover .color-ball {
  	display: inline-block;
  	visibility: visible;
  	transform: translateX(0px);
  }

  @media(max-width:998px) {
  	.drop-list .drop-item {
  		position: relative;
  		top: 0;
  		left: 50px;
  		border: none !important;
  		display: none;
  		/* transition: all 0.3s; */
  	}

  	.drop-list:hover .drop-item {
  		display: flex;
  	}
  }