.resources_1 {
    padding: 2rem 4rem;
}

.resources_1 .text{
 
}

.resources_1 .text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
}

.resources_1 .text p:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    color: #615D5D;
}

.resources_1 .dot-position{
    position: relative;
}

.resources_1 .img {
    width: 100%;
    max-width: 300px;
}

.resources_1 .img .dot1 {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #BB5327;
}

.resources_1 .img .dot2 {
    position: absolute;
    display: block;
    right: 1rem ;
    top: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #BB5327;
}

.resources_1 .img .dot3 {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #BB5327;
}

.resources_1 .img .dot4 {
    position: absolute;
    right: 3rem;
    display: block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #5C2109;
}

.resources_1 .img img {
    width: 95%;
    aspect-ratio: 2/25C2109;
}

@media(max-width:768px) {
    .resources_1 {
        padding: 2rem 0;
    }
}





.resources_2{
    padding: 2rem 6rem;
}
.resources_2 .row{
    padding-bottom: 1rem;
}
.resources_2 .row .col-md-6:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}
.resources_2 .img{
    padding: 2rem;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resources_2 .img img{
    width: 100%;
}
.resources_2 .text{
    border-left: 1.5px solid #5C2109;
    border-bottom: 1.5px solid #5C2109;
    padding: 2rem;
}
.resources_2 .text h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
}
.resources_2 .text p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #615D5D;
    line-height: 30px;
}
.resources_2 .text a{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 30px;
}
.resources_2 .text a img{
    width: 23px;
    height: 23px;
}



/* --------------Resource-3------------- */
.resources_3{
    padding: 2rem 4rem;
    border-top: 2px solid #BB5327;
}
.resources_3 .text{
    padding: 2rem;
}
.resources_3 .text h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 2rem;
}
.resources_3 .text p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}
.resources_3 .img_area{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
.resources_3 .img_area .img img{
    width: 200px;
}