.resume_1{
    padding: 2rem 4rem;
}
.resume_1 .text h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
}
.resume_1 .text p:nth-child(2){
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    color: #615D5D;
}
.resume_1 .text p:nth-child(3){
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    color: #615D5D;
}
.resume_1 .dot-position{
    position: relative;
}
.resume_1 .img{
    width: 100%;
    max-width: 300px;
}
.resume_1 .img .dot1{
    /* position: absolute; */
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #BB5327;
}

.resume_1 .img .dot3{
    /* position: absolute; */
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #BB5327;
}
.resume_1 .img .dot4{
    position: absolute;
    right: 0;
    bottom: 1rem;
    display: block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #5C2109;
}
.resume_1 .img img{
    width: 95%;
  aspect-ratio: 2/2;
}
@media(max-width:768px){
    .resume_1{
        padding: 2rem 0;
    }
}


/* -------------resume-2----------------- */
.resume_2{
    padding: 2rem 4rem;
}
.resume_2 .text{
    padding: 1rem;
}
.resume_2 .text h1{
   font-size: 1.8rem;
   font-weight: 600;
   color: #615D5D;
   line-height: 50px;
}
.resume_2 .text p:nth-child(2){
   font-size: 1.1rem;
   font-weight: 400;
   color: #615D5D;
   line-height: 30px;
   margin: 0;
}
.resume_2 .text p:nth-child(3){
   font-size: 1.1rem;
   font-style: italic;
   font-weight: 400;
   color: #615D5D;
   line-height: 20px;
}
.resume_2 .text_end {
    margin-top: 2rem;
    font-size: 1.3rem;
   font-weight: 400;
   line-height: 20px;
}
.resume_2 .text_end p{

    font-size: 1.3rem;
   font-weight: 400;
   line-height: 28px;
}

@media(max-width:768px){
    .resume_2{
        padding: 2rem 1rem;
    }
    .resume_2 .text{
        padding: 0;
    }
}