.seasonal_placements_1 {
    padding: 2rem 4rem;
}

.seasonal_placements_1 .text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
}

.seasonal_placements_1 .text p:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    color: #615D5D;
}

.seasonal_placements_1 .text p:nth-child(3) {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    color: #615D5D;
}

.seasonal_placements_1 .dot-position {

    position: relative;
}

.seasonal_placements_1 .img {
    width: 100%;
    max-width: 300px;
}

.seasonal_placements_1 .img .dot1 {
    /* position: absolute; */
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #BB5327;
}

.seasonal_placements_1 .img .dot2 {
    position: absolute;
    display: block;
    right: 1rem;
    top: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #BB5327;
}

.seasonal_placements_1 .img .dot3 {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #BB5327;
}

.seasonal_placements_1 .img .dot4 {
    position: absolute;
    right: 3rem;
    display: block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #5C2109;
}

.seasonal_placements_1 .img img {
    width: 95%;
    /* height: 90%; */
    aspect-ratio: 2/25C2109;
}

@media(max-width:768px) {
    .seasonal_placements_1 {
        padding: 2rem 0;
    }
}

/* ------------------------seasonal_placements_1---------- */
.seasonal_placements_2 {
    padding: 2rem 4rem;
}

.seasonal_placements_2 .heading {
    padding: 1rem 0;
}

.seasonal_placements_2 .heading h1 {
    font-size: 2.5rem;
    line-height: 40px;
    font-weight: 700;
}

.seasonal_placements_2 .col-md-6 {
    padding: 1rem;
}

.seasonal_placements_2 .box {
    border: 1.5px solid #AAA0A0;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.seasonal_placements_2 .box a{
    color: black;
    text-decoration: none;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.seasonal_placements_2 .box .head {
    padding: 1rem;
}

.seasonal_placements_2 .box .head h1 {
    font-size: 1.8rem;
    font-weight: 600;
    list-style: 30px;
}

.seasonal_placements_2 .box .head p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.seasonal_placements_2 .box .img {
    width: 100%;
    height: 250px;
}

.seasonal_placements_2 .box .img img {
    width: 100%;
    height: 100%;
}

.seasonal_placements_2 .end_text{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.seasonal_placements_2 .end_text p{
    font-size: 1.2rem;
    color: #BB5327;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
}

.seasonal_placements_2 .end_text .img{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seasonal_placements_2 .end_text .img img{
    width: 100%;
}